@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  background: rgba(0,0,0,0.8);
  margin: 0;
  color: #fff;
  font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

.showcase::after{
  content:'';
  height: 100vh;
  width: 100%;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter: grayscale(.8) blur(10px);
  -webkit-filter: grayscale(.8) blur(10px);
  transition: all 1000ms;
}

.showcase:hover{
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.showcase:hover::after{
  filter: grayscale(.8) blur(0px);
  -webkit-filter:grayscale(.8) blur(0px);
}

.content{
  width: 80%;
  text-align: center;
  position: absolute;
  z-index: 1;
  top:20%;
  left: 10%;
  transition: all 1000ms;
}

.content .logo{
  height: 30vh;

}

.content .title{
  font-size: 2em;
  margin-top: 1em;
}

.content .text{
  margin-top: 1em;
}

.container{
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 1em 1em;
}

.grid-3{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-2{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.center {
  text-align: center;
  margin:auto;
}

.bg-light{
  background: #f4f4f4;
  color: #333;
}

.bg-dark{
  background: #333;
  color: #f4f4f4;
}

footer p {
  margin: 0;
  padding: 3rem;
}

/*Smaller screens*/
@media (max-width: 568px) {

  .showcase::after{
    height: 50vh;
  }

  .content{
    top: 5%;
    left: 10%;
    margin-top: 5px;
    margin-left: auto;
  }

  .content .logo{
    height: 20vh
  }

  .content .title{
    font-size: 1.5em;
    margin-top: auto;
  }

  .content .text{
    display: none;
  }

 .grid-3{
   grid-template-columns: 1fr;
 }
 .grid-2{
   grid-template-columns: 1fr;
 }
}
